<%- include ('partials/meta') -%>

<body>

    <%- include ('partials/navbar') -%>

    <div class="container">

        <%- include ('partials/msg') -%>

        <h1 class="mt-4">Your Events</h1>
        <div class="row">
            <% if (data.events.length > 0) { %>
                <% data.events.forEach(el => { %>
                    <div class="col-lg-3 col-md-4 col-sm-8 col-xs-8">
                        <div class="card mb-3 pt-2">
                            <img class="card-img-top m-auto" style="height: 200px; width: 200px;" src="<%= el.image %>" alt="event image">
                            <div class="card-body">
                                <h5 class="card-title"><%= el.name %></h5>
                                <p class="card-text"><%= el.description %></p>
                            </div>
                            <ul class="list-group list-group-flush">
                              <li class="list-group-item"><%= el.event_date.toString().split('GMT')[0] %></li>
                            </ul>
                            <div class="card-body">
                                <a href="/event/<%= el.id %>" class="btn btn-primary">View</a>
                            </div>
                        </div>
                    </div>
                <% }) %>
            <% } else { %>
                <p>The events you create or participate in will appear here.</p>
            <% } %>
        </div>
    </div>

    <%- include ('partials/footer') -%>

    <%- include ('partials/scripts') -%>

</body>

</html>