<%- include ('partials/meta') -%>

<body>

    <%- include ('partials/navbar') -%>

    <div class="container">
        <div class="mt-3">
            <div class="main-body">
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex flex-column align-items-center text-center">
                                    <img src="<%= data.event.image %> " alt="Group Image" class="rounded-circle"
                                        width="150" height="150">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Event Name</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <%= data.event.name %>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Event Description</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <%= data.event.description %>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Event Date</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <%= data.event.event_date.toString().split("GMT")[0] %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include ('partials/footer') -%>

    <%- include ('partials/scripts') -%>

</body>

</html>