<%- include ('partials/meta') -%>

<body>

    <%- include ('partials/navbar') -%>

    <div class="container">

        <%- include ('partials/msg') -%>

        <h1 class="mt-4">Your Events</h1>
        <p>The events you create or participate in will appear here.</p>

        <a href="/event/create" class="btn btn-outline-success btn-lg">Create an Event</a>
    </div>

    <%- include ('partials/footer') -%>

    <%- include ('partials/scripts') -%>

</body>

</html>