<%- include ('partials/meta') -%>

<body>

    <%- include ('partials/navbar') -%>

    <div class="container">

        <%- include ('partials/msg') -%>

        <h1 class="mt-4">Forgot Your Credentials?</h1>
        <form method="POST" action="/forgot_password" class="col-lg-8 col-md-12" onsubmit="return forgotPassValidation()">
            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input class="form-control" id="email" aria-describedby="emailHelp">
                <div id="email-fb"></div>
                <div id="email-info" class="form-text">We will send you an email containing your username and password.</div>
            </div>
            <button type="submit" class="btn btn-primary">Send Email</button>
        </form>
    </div>

    <%- include ('partials/footer') -%>

    <%- include ('partials/scripts') -%>
</body>

</html>