<%- include ('partials/meta') -%>

<body>

    <%- include ('partials/navbar') -%>

    <div class="container">

        <%- include ('partials/msg') -%>

        <h1 class="mt-4">Your Groups</h1>
        <p>The groups you create will appear here.</p>

        <a href="/group/create" class="btn btn-outline-success btn-lg">Create a Group</a>
    </div>

    <%- include ('partials/footer') -%>

    <%- include ('partials/scripts') -%>

</body>

</html>