<%- include ('partials/meta') -%>

<body>

    <%- include ('partials/navbar') -%>

    <div class="container">

        <%- include ('partials/msg') -%>

        <h1 class="mt-3">Your Search Results</h1>

        <% if (data.users.length === 0 && data.groups.length === 0 && data.events.length === 0) { %>
            <p>Umm... We could not find anything matching your search.</p>
        <% } else { %>
            <% if (data.users.length > 0) { %>
                <h4>Users</h4>
                <div class="row">
                    <% data.users.forEach(el => { %>
                        <div class="col-lg-3 col-md-4 col-sm-8 col-xs-8">
                            <div class="card mb-3 pt-2">
                                <img class="card-img-top m-auto" style="width: 80px; height: 80px; border-radius: 100%;" src="<%= el.profile_pic %>" alt="user profile">
                                <div class="card-body">
                                    <h5 class="card-title"><%= el.first_name + ' ' + el.last_name %></h5>
                                    <a href="/user/<%= el.id %>" class="stretched-link">Visit Profile</a>
                                </div>
                            </div>
                        </div>
                    <% }) %>
                </div>
            <% } %>
            <% if (data.groups.length > 0) { %>
                <h4>Groups</h4>
                <div class="row">
                    <% data.groups.forEach(el => { %>
                        <div class="col-lg-3 col-md-4 col-sm-8 col-xs-8">
                            <div class="card mb-3 pt-2">
                                <img class="card-img-top m-auto" style="width: 80px; height: 80px; border-radius: 100%;" src="<%= el.image %>" alt="group image">
                                <div class="card-body">
                                    <h5 class="card-title"><%= el.name %></h5>
                                    <a href="/group/<%= el.id %>" class="stretched-link">View Group</a>
                                </div>
                            </div>
                        </div>
                    <% }) %>
                </div>
            <% } %>
            <% if (data.events.length > 0) { %>
                <h4>Events</h4>
                <div class="row">
                    <% data.events.forEach(el => { %>
                        <div class="col-lg-3 col-md-4 col-sm-8 col-xs-8">
                            <div class="card mb-3 pt-2">
                                <img class="card-img-top m-auto" style="width: 80px; height: 80px; border-radius: 100%;" src="<%= el.image %>" alt="event image">
                                <div class="card-body">
                                    <h5 class="card-title"><%= el.name %></h5>
                                    <a href="/event/<%= el.id %>" class="stretched-link">View Event</a>
                                </div>
                            </div>
                        </div>
                    <% }) %>
                </div>
            <% } %>
        <% } %>
    </div>

    <%- include ('partials/footer') -%>

    <%- include ('partials/scripts') -%>

</body>

</html>